/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #d3d3d3;
    color: #1b1c1d;
  }
  
  h1 {
    margin: 20px;
    color:#1b1c1d
  }

  h2 {
    margin: 20px;
    color:#d3d3d3
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #FDF8F5;
  }
  
  header,
  footer {
    
    width: 100%;
    line-height: 60px;
    background-color: #3f3d42;
  }
  
  header {
    position: fixed;
    height: 60px;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    color: #FDF8F5;  
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
    height: 25%;
    width: 25%;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #e4bc0a;
    background-color:  #1b1b33;
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #bb8a05;
    border-radius: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #17012b;
  }
  
  textarea {
    vertical-align: top;
    height: 65px;
  }
    
  button {
    height: 40px;
    width: 120px;
    background-color: #1a0124;
    color: #FDF8F5;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
    color: #FDF8F5
  }